* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@font-face {
	font-family: font1;
    src: url(../fonts/squealer.ttf);
}
@font-face{
    font-family: font2;
    src: url(../fonts/RowlandDemoLight.ttf);
}

body {
	color: #fff;
	font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}
.pozadina{
    background-color: rgba(0, 0, 0, 0.5);
    background: url("../static/leaf3.jpg") repeat;
    background-size: 100%;
    /*FLEX BOX*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pozadina2{
    background-image: url("../static/leaf3.jpg");
}

a {
	text-decoration: none;
}

#header-wrapper {
    background-image: linear-gradient(#000000,#2c0c01);
	border-bottom: 4px solid #000000;
}

#footer-wrapper {
    border-top: 4px solid rgb(0, 0, 0);
	padding: 30px 0;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.bend {
    background-color: rgba(0, 0, 0, 0.5);
	background: url("../static/burningleaf.jpg") no-repeat;
    background-size: 100% 100%;
}
  
.bend p {
    padding: 2%;
    font-size: 25px;
}

section#prvi {
    background-image: url(../static/bleafcut.jpg);
}
header , footer{
    background-color: rgba(255, 255, 255,0);
    padding-top: 2%;
    padding-bottom: 2% ;
    padding-left: 5% ;
    padding-right: 5% ;
    overflow: auto;
}
h1 { 
    padding-left: 8% ;
	text-align: center;
	text-transform: uppercase;
    font-family: font1;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #380000;
    text-shadow: -2px -2px 1px #000, 2px -2px 1px #000, -2px 2px 1px #000, 2px 2px 1px #000;
}

nav {
	text-align: center;
	font-family: font1;
	margin-top: 10px;
}

nav a {
	display: block;
	margin-bottom: 15px;
	text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
	color: #fff;
    transition: 1s;
}

nav a:last-child {
	margin-right: 0;
}

nav a:hover {
	color: #ba7934;
	transition: 0.3s;
}

/* HAMBURGER */

.hamburger, .cross {
	background: none;
	border: none;
	color: #dc3545;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000000000000000000;
	cursor: pointer;
	outline: none;
}

.hamburger {
	font-size: 1.4em;
	line-height: 45px;
	padding: 5px 15px 0 15px;
}

.cross {
	font-size: 3em;
	line-height: 65px;
	padding: 2px 17px 0 15px;
}

h2 {
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
    font-family: font1;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-top: 4%;
}
h3{
    font-size: 30px;
    font-family: font2;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.icon{
    padding: 10px;
    width:50px;
    height:50px;
}
.galery{
    width: 450px;
    height: 450px;
    padding: 50px;
}
  
  .galery:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: transform .2s;
}

/*forma*/

form {
	margin-bottom: 50px;
	text-align: center;
}

label {
	text-transform: uppercase;
	font-family: font1;
}

input {
	display: block;
	background-color: #262533;
	width: 50%;
	margin: 15px auto;
	padding: 10px;
	border: 1px solid #DC3545;
	border-radius: 10px;
	text-align: center;
	color: #fff;
}

input[type="submit"] {
	background-color: #DC3545;
	width: 15%;
	font-family: font1;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}

input[type="submit"]:hover {
	width: 50%;
	transition: 0.3s;
}

@media screen and (min-width: 690px) {
	.hamburger, .cross {
		visibility: hidden;
	}

	.menu {
        display: block !important;
        margin-top: 2%;
	}

	.menu a {
		display: inline-block;
		margin-left: 30px;
	}

	h1 {
		float: left;
	}

	nav {
		float: right;
	}

	[class*="col-"] {
		float: left;
	}

	.col-m-6 {width: 50%;}
}

@media screen and (min-width: 1000px) {
	.col-l-3 {width: 25%;}

	.kolone:nth-child(3) {
		border-left: 2px solid #dc3545;
	}
}